<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexm.floodit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartScreen"
            android:label="@string/Floodit"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"
            android:parentActivityName=".StartScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alexm.floodit.StartScreen" />
        </activity>
        <activity
            android:name=".LeaderBoard"
            android:label="@string/title_activity_leader_board"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alexm.floodit.MainMenu" />
        </activity>
        <activity
            android:name=".Rules"
            android:label="@string/title_activity_rules"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alexm.floodit.Rules" />
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alexm.floodit.MainMenu" />
        </activity>
        <activity
            android:name=".WinLose"
            android:label="@string/title_activity_win_lose"
            android:parentActivityName=".Game"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alexm.floodit.Game" />
        </activity>
    </application>

</manifest>